.btn-pay {
    background-image: linear-gradient(to right, #010066 0%, #CC0001 100%);
    color: #fdfdfd;
    font-weight: bold;
    box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
    border-radius: 30px;
}

.btn-pay:hover {
    background-image: linear-gradient(to right, #0b2b58 0%, #cc0000 100%);

}

.card {
    background-image: radial-gradient(circle farthest-corner at 48.9% 4.2%, rgba(216,216,220,255) 0%, rgba(255,255,255,255) 100.2%);
}
.card h3 {
font-size: 22px;
font-weight: 600;

}

.customodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.customodal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.customodal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.closebtn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closebtn:hover,
.closebtn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.loadingModal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.drop_box {
margin: 10px 0;
padding: 30px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border: 3px dotted #a3a3a3;
border-radius: 5px;
}
.drop_box h4 {
font-size: 16px;
font-weight: 400;
color: #2e2e2e;
}

.drop_box h2 {
  font-size: 26px;
  font-weight: 600;
  color: #2e2e2e;
  text-align: center;
}


.drop_box p {
margin-top: 10px;
margin-bottom: 20px;
font-size: 12px;
color: #a3a3a3;
}

.btn {
text-decoration: none;
background-color: #cc0000;
color: #ffffff;
padding: 10px 20px;
border: none;
outline: none;
transition: 0.3s;
}

.btn1 {
    text-decoration: none;
    background-color: #0032A0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
  }

.btn:hover{
text-decoration: none;
background-color: #ffffff;
color: #005af0;
padding: 10px 20px;
border: none;
outline: 1px solid #010101;
}
.form input {
margin: 10px 0;
width: 100%;
background-color: #e2e2e2;
border: none;
outline: none;
padding: 12px 20px;
border-radius: 4px;
}
@media screen and (min-width: 368px) {
.modal.show .modal-dialog {
max-width: calc(70% - 17rem); 
margin-left: auto;
}
}

form { 
    margin: 0 auto; 
    width:800px;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    
    
    .styled-table thead tr {
        background-color: #0032A0;
        color: #ffffff;
        text-align: left;
    }
    
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    
    
    .styled-table tbody tr {
        border-bottom: 1px solid #0032A0;
    }
    
    .styled-table tbody tr:nth-of-type(even) {
        background-color: white;
    }
    
    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #0032A0;
    }
    
    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: black;
    }
    .styled-table {
        margin: 25px auto;
    }
    
    .error-message {
        font-weight: bold;
        color: #c7290a;
        font-size:18px;
    }
    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 25%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        margin: auto;
      }

      .dropbtn {
        background-color: #021E73;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
        margin: auto;
        margin-bottom: 12px;
      }
      
      .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-menu a:hover {background-color: #03258C;}
      
      .dropdown:hover .dropdown-menu {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #03258C;}
      
      .Search {
          margin: auto;
      }
      
      .search-filter-container{
          display: flex;
          align-items: center;
          width: 100%;
      }
      
      #myInput {
        background-image: url('/css/searchicon.png'); 
        background-position: 10px 12px; 
        background-repeat: no-repeat; 
        width: 100%; 
        font-size: 16px;
        padding: 12px 20px 12px 40px; 
        border: 1px solid #ddd; 
        margin-bottom: 12px; 
      }
      .alert {
        display: none;
    }